.login{
    /* background-color: ; */
    display: flex;
    min-height: 100vh;
}
/* Estilos formulario */
.form{
    background-color: rgba(255, 255, 255, 0.397);
    /* border: 2px solid var(--primary); */
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 12px;
    box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.164);
    text-align: center;
    z-index: 1;
}
.form::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.144);
    filter: blur(450px);
}

.form__title{
    font-size: 2rem;
    margin-bottom: .5em;
}

.form__paragraph{
    font-size: 14px;
    font-weight: 200;
}

.form__container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form__group{
    position: relative;
    --color: #5757577e;
}

.form__input{
    width: 100%;
    background: none ;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none !important;
    outline: none;
    border-bottom: 1px solid var(--color) !important;
    border-radius: 0 !important;


}

.form__input:focus,
.form__input:not(:placeholder-shown){
    color: #4d4646;
} 

.form__input:focus + .form__label, 
.form__input:not(:placeholder-shown) + .form__label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #5aaa61;
}


.form__label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form__submit{
    background:#39a900 !important;
    color: #fff !important;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em .0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
}

.form__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #39a900;
    transform: scale(0);
    transform-origin: left bottom;
    transition: transform .4s;
}
.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line{
    transform: scale(1);
}

img.icon_handle{
    height: 20px;
    width: 20px;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
}
.input-password{
    display: flex;
    align-items: center;
}
.input-pwd{
    
    float: right;
}

/* ------ | Mensajes | ------ */
div.message{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 700;
    font-size: 1.2em;
    color: white;
    border-radius: 8px;
    text-align: center;
}
strong{
    cursor: pointer;
    transition: all .2s ease  ;
}
strong:hover{
    color: rgb(223, 223, 223);
}
div.message--success{

    background: var(--tertiary);
    color: var(--primary);
    border: 1px solid var(--primary);
}
div.message--error{
    color: #f87171;
    background-color: #fee2e2;
    border: 1px solid #f87171;
}

@media (max-width:425px){

    .form__title{
        font-size: .8rem;
    }

}

.blur{
    height: 20rem;
    width: 20rem;
    background-color: var(--primary);
    filter: blur(160px);
    position: absolute;
    border-radius: 100%;
}
.blur-one{
    left: 50%;
    bottom: 10%;

}
.blur-two{
    top: 10%;
    right: 50%;
    height: 14rem;
    width: 14rem;
    filter: blur(160px);

}