.container__dashboard{
    padding: 2em;
    height: 100vh;

}
.container__dashboard__info{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
    gap: 3em;

}
.container__dashboard__info__connection{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.info .connection {
    border: 3px solid var(--primary);
    background-color:#a6d68e ;
    border-radius: 12px;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    box-shadow: var(--primary-shadow);
}
.connection.active{
    border: 3px solid var(--primary);
    background-color:#a6d68e ;
}
.connection.disabled{
    /* color: #f87171; */
    background-color: #fee2e2;
    border: 3px solid #f87171;
}

.status{
    height: 10em;
    width: 10em;
    border-radius: 100%;
    display: grid;
    place-items: center;
    box-shadow: inset 0px 0px 19px 0px black;
}
.status.active{
    background-color:var(--primary);
    
}
.status.disabled{
    
    background-color: red;
}
.container__dashboard__info__connection small{
    font-family: 900;
    font-size: 1.5em;
}

.status svg{

    height: 8em;
    width: 8em;
}