.container__logs-lis-logs h1{
    text-align: center;
    margin-bottom: 2vh;  
}
.container__form--logs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__logs-lis-logs{
    overflow-y: auto;
    margin-top: 15px;
    width: 100%;
    text-align: center;
}
.list__logs{
    overflow-y: auto;
    height: 30vh;
}
.password-input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1em;
    border-radius: 10px;
    border: none;
    border: solid 1px #61bb68;
}
.password-input input
{
    background-color: none !important;
    width: 11em;
    border: none !important;
}
img.icon_handle{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.input-password{
    display: flex;
    align-items: center;
}
.input-pwd{
    
    float: right;
}


.content__search__input
{
    display: flex;
    width: 100%;
    
}
.content__search__input svg path{ 
    fill: white;
}

.container__form--logs h3{
    font-size: 1em;
    color: gray;
    text-align: center;
}

.container__box {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 2em;
}

.list__logs {
    width: 100%;
    overflow-y: auto;
}

.list__logs h1 {
    text-align: center;
    margin-bottom: 2vh;
}

.container__logs{
    box-shadow: 0px 0px 4px -45px rgba(0,0,0,0.1);
    background-color: white;
    padding: 1em;
    border-radius: 7px;
}

.content__form__botons{
    display: flex;
    gap: 1em;
    justify-content: center;
}

.search__input
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #61bb68;
    border-radius: 10px 0px 0px 10px ;
    width: 100%;
}

.acctions{
    border-radius: 0px 10px 10px 0px ;
    background-color: var(--primary);
    display: flex;
}

.acctions svg{
    width: 2.5em;
    height: 2.5em;
}


.search__input input
{
    background-color: none !important;
    border: none !important;
}

.acctions button{
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
    background: none;
    width: 40px;
    height: 40px;
}

.acctions button:hover
{
    background-color: unset !important;
}

td.edit__icon{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.list__logs{
    overflow-y: auto;
    height: 30vh;
}

.options-modal{
    display: flex;
    justify-content: space-around
}

.content__form-modal{

    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    gap: 4em;

}

a{
    cursor: pointer;
}

.other__pagination__form{
    display: flex;
    align-items: center;
    gap: 1em;
}
