/* Batch */

h3{
    font-size: 1em;
    color: gray;
    text-align: center;
}

.container-batch {

    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 2em;
    /* overflow-y: auto; */
    /* height: 100vh; */
}
.form-batch {
    /* width: 100; */
    display: flex;
    flex-direction: column;
    gap: 2.2em;
}
.content-form-batch{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

label {
    font-weight: 700;
    /* text-transform: uppercase; */
}

.checkboxes {
    display: flex;
    /* margin-top: 2em; */
    gap: 2em;
}

.check {
    font-weight: bold;
    display: flex;
    gap: 4px;
}

.input {
    display: flex;
    align-items: center;
    gap: 2em;
}
.events-sync {
    width: 100%;
    overflow-y: auto;
    margin-top: 15px;

}
.events-sync h1 {
    text-align: center;
    margin-bottom: 2vh;
}

.notifications_target_edit_icon {
    cursor: pointer;
}

/* Paginacion y buscador */
.other-pagination{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.search{
    display: flex;
    align-items: center;
}

.search svg{
    width: 25px;
    height: 25px;
}
.search path{
    fill: black;
}


.register-events{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* Modal */
#window-target::backdrop{
    background-color: rgb(0, 0, 0,.55);
}
#window-target::backdrop:focus{
    outline: none;
}
dialog{
    margin: auto !important;
    border: none;
    background: transparent;
}
dialog:focus{
    outline: none;
}
.modal-cerrar{
    position: absolute;
    right: 0;
    padding: 2px;
    margin:4px;

    cursor: pointer;
}
.modal-cerrar svg{
    height: 1.5em;
    width: 1.5em;
}
.content-modal{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--primary-background);
    box-shadow: var(--primary-shadow);
    border-radius: 20px;
    height: 50vh;
    /* width: 30vh; */
    margin: 0 auto;
}



/* Form destinatario */
.new-noti-target{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.content-batch{
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
    align-items: center;
    
}

.input-new-target{
    display: flex;
}

.new-target,
.targets
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #61bb68;
    border-radius: 10px 0px 0px 10px ;
}
.acctions{
    border-radius: 0px 10px 10px 0px ;
    background-color: var(--primary);
    display: flex;
}
.acctions svg{
    width: 2.5em;
    height: 2.5em;
}
div.new-target input[type="email"]#notifications_target{
    background-color: none !important;
}
.new-target input,
.list-targets input
{
    background-color: none !important;
    width: 11em;
    border: none !important;
}
.acctions button,
.list-targets button{
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
    background: none;
    width: 40px;
    height: 40px;

}
.acctions button:hover
{
    background-color: unset !important;
}



.list-targets {
    height: 15em;
    display: flex;
    flex-direction: column;
    gap: .4em;
    overflow-y:  auto;

}
.targets{
    border-radius: 10px;
}
.list-targets button{
    /* background-color: #4caf4f31; */
    border: none;
    font-size: 1.5em;
    color: rgba(255, 0, 0, 0.969);
    border-radius: 0px 10px 10px 0px ;
    transition: all .2s ease-in  ;
    border-left: 1px solid #61bb68 ;
}
.list-targets p{
    /* cursor: pointer; */
    text-align: center;
}

.list-targets button:hover{
    background-color:unset;
}

.form-target{
    display: flex;
    justify-content: space-around;
    gap: 1em;
}
.content-new-target{
    display: flex;
    margin: 0 auto;
}

td.edit-icon{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.list-events{
    overflow-y: auto;
    height: 30vh;
}