/* Batch */

h3{
    font-size: 1em;
    color: gray;
    text-align: center;
}

.container__box {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 2em;
}


.content__batch{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.content__batch__form__target{
    display: flex;
    justify-content: space-around;
    gap: 1em;
}

.form__batch {
    display: flex;
    flex-direction: column;
    gap: 2.2em;
}

.content-form-modal{
    display: flex;

    flex-direction: column;
    gap: 3em;
}

label {
    font-weight: 700;
}

.input {
    display: flex;
    align-items: center;
    gap: 2em;
}

.event__sync {
    width: 100%;
    overflow-y: auto;
    margin-top: 15px;

}

.event__sync h1 {
    text-align: center;
    margin-bottom: 2vh;
}

.notifications_target_edit_icon {
    cursor: pointer;
}


.container__events__register__events{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Modal */
dialog::backdrop{
    background-color: rgb(0, 0, 0,.55);
}

dialog::backdrop:focus{
    outline: none;
}

dialog{
    margin: auto !important;
    border: none;
    background: transparent;
}

dialog:focus{
    outline: none;
}
.modal__cerrar{
    position: absolute;
    right: 0;
    padding: 2px;
    margin:4px;

    cursor: pointer;
}
.modal__cerrar svg{
    height: 1.5em;
    width: 1.5em;
}
.content__modal,
.content__modal-delete
{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--primary-background);
    box-shadow: var(--primary-shadow);
    border-radius: 20px;
    height: 50vh;
    /* width: 30vh; */
    margin: 0 auto;
}

.content__modal-delete{
    height: max-content;
}
.content__modal h1{
    text-align: center;
}

/* Form destinatario */
.new__noti__target{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.input-new-target{
    display: flex;
}

.new-target,
.targets
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #61bb68;
    border-radius: 10px 0px 0px 10px ;
}

.acctions{
    border-radius: 0px 10px 10px 0px ;
    background-color: var(--primary);
    display: flex;
}

.acctions svg{
    width: 2.5em;
    height: 2.5em;
}

div.new-target input[type="email"]#notifications_target{
    background-color: none !important;
}

.new-target input,
.list__targets input
{
    background-color: none !important;
    width: 11em;
    border: none !important;
}

.acctions button,
.list__targets button{
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
    background: none;
    width: 40px;
    height: 40px;
}

.acctions button:hover
{
    background-color: unset !important;
}

.list__targets {
    height: 15em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y:  auto;
    margin-top: 1em;
}

.targets{
    border-radius: 10px;
}

.list__targets button{
    /* background-color: #4caf4f31; */
    border: none;
    font-size: 1.5em;
    color: rgba(255, 0, 0, 0.969);
    border-radius: 0px 10px 10px 0px ;
    transition: all .2s ease-in  ;
    border-left: 1px solid #61bb68 ;
}

.list__targets p{
    /* cursor: pointer; */
    text-align: center;
}

.list__targets button:hover{
    background-color:unset;
}


.content-new-target{
    display: flex;
    margin: 0 auto;
}
.container__form-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

td.edit__icon{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.list__events{
    overflow-y: auto;
    height: 30vh;
}

.options-modal{
    display: flex;
    justify-content: space-around
}

.content__form-modal{

    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    gap: 4em;

}

a{
    cursor: pointer;
}