* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form_group {
    display: flex;
    gap: 5em;
    /* text-align: center; */
}

/* Estilos formulario */

.form__container {
    /* margin-top: 20em; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-form {
    display: flex;
    padding: 2em;
    gap: 2.5em;
    
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 60%);

}
.botons{
    margin: 0 auto;
}