.container__box {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 2em;
}

.container__seed{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 0px 4px -45px rgba(0,0,0,0.1);

    flex-direction: column;
    /* width: 100%; */
    /* margin: 0 auto; */
}

.content__search__input
{
    display: flex;
    width: 100%;
    
}
.content__search__input svg path{ 
    fill: white;
}

.other__pagination__form{
    display: flex;
    align-items: center;
    gap: 1em;
}

.content__search__input svg path{ 
    fill: white;
}
.search__input
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #61bb68;
    border-radius: 10px 0px 0px 10px ;
    width: 100%;
}

.search__input input
{
    background-color: none !important;
    border: none !important;
}

.acctions button{
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
    background: none;
    width: 40px;
    height: 40px;
}

.acctions{
    border-radius: 0px 10px 10px 0px ;
    background-color: var(--primary);
    display: flex;
}

.acctions svg{
    width: 2.5em;
    height: 2.5em;
}

.acctions button:hover
{
    background-color: unset !important;
}
.seeds{
    width: 100vh;
}

/* Modal */
dialog::backdrop{
    filter: blur(20%);
    background-color: rgb(0, 0, 0,.60);
    backdrop-filter: blur(2px);
}

dialog::backdrop:focus{
    outline: none;
}

dialog{
    margin: auto !important;
    border: none;
    background: transparent;
}

dialog:focus{
    outline: none;
}
.modal__cerrar{
    position: absolute;
    right: 0;
    padding: 2px;
    margin:4px;

    cursor: pointer;
}

.options-modal{
    display: flex;
    justify-content: space-around
}
.modal__cerrar svg{
    height: 1.5em;
    width: 1.5em;
}
.content__modal,
.content__modal-delete
{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--primary-background);
    box-shadow: var(--primary-shadow);
    border-radius: 20px;
    height: 50vh;
    /* width: 30vh; */
    margin: 0 auto;
}

.content__modal-delete{
    height: max-content;
}
.content__modal h1{
    text-align: center;
}


.boton_cancelar{
    padding: .3rem 2rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all .4s ease-in;
    font-weight: 800;
    box-sizing: border-box;
    font-size: .8em;
    color: #f87171;
    background-color: #fee2e2;
    border: 1px solid #f87171;
}
.boton_cancelar:hover
{
    background-color: #f87171;
    color: white;
}
.content__form__botons{
    display: flex;
    gap: 1em;
    justify-content: center;
}

.content__form-modal{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around !important;
    align-items: unset !important;
}
.content__form-modal .input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__form-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}


select {
    width: 10rem ;
}