* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

:root {
    --primary-color: #61bb68;
}

/* Estilos inicio */

.container-home {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow-y: hidden;
    /* display: grid; */

}

header {

    background-color: var(--primary-color);
    text-align: center;
    color: white;
    padding: 1em;
    z-index: 1;
    /* width: 100%; */

}

.content-home {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Inputs  */

input[type='text'],
input[type='email'],
input[type='number'],
input[type='time']
{
    padding: .5em;
    border-radius: 10px;
    border: none;
    border: solid 1px #61bb68;
    /* transition: all .3s ease-out; */
    transition: 180ms box-shadow ease-in-out;
}

input:focus {
    border: solid 1px #61bb68;
    outline: 3px solid transparent;
    box-shadow: 0px 10px 8px -31px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"] {
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    font-size: 2rem;
}


/* Botones */

input[type="submit"] {
    padding: 1em;
    cursor: pointer;
    border-radius: 30px;
    background: #61bb68;
    color: white;
    border: none;
    transition: all .3s ease;
}

input[type="submit"]:hover {
    background-color: #4c9450;
}


/* Estilos Josso y Servidor de correo */


/* Estilos formulario */
.container-form {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.form-inputs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5em;
}

.content-form {
    display: flex;
    padding: 2em;
    gap: 2.5em;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 60%);
}

.botons{
    margin: 0 auto;
}


/* Mensajes */
div.message{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 700;
    font-size: 1.2em;
    color: white;
    border-radius: 8px;
    text-align: center;

}

strong{
    cursor: pointer;
    transition: all .2s ease  ;
}
strong:hover{
    color: rgb(223, 223, 223);
}


div.message.success{
    background-color: rgb(33, 195, 76);   
}
div.message.error{
    background-color: rgb(241, 65, 42);
}