@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

:root {
    --primary: #39a900;
    --secondary: #98fe58;
    --tertiary: #f2ffe5;
    --alternate: #29690b;
    --primary-text: black;
    --secondary-text: #5d5d5d;
    --alternate-text: #919191;
    --primary-background: #fff;
    --secondary-background: #E6E6E6;
    --alternate-background: #04324d;
    --color-success: #52d726;
    --color-error: #e74c3c;
    --color-warning: #f1c40f;
    --color-info: #ffffff;
    --primary-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

/*  ------ | Estilos inicio  | ------ */
.container__home {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
header {
    background-color: var(--primary);
    text-align: center;
    color: white;
    padding: 1em;
    z-index: 1;
}
.header__home{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__home {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #f3f3f3;
}
.header__home-icon{
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
}

/* ------ | Inputs | ------ */
input[type='text'],
input[type='email'],
input[type='number'],
input[type='time'],
input[type='password']
{
    padding: .5em;
    border-radius: 12px;
    border: 1px solid var(--primary);
    transition: .3s box-shadow ease-in-out;
}

input:focus {
    border: solid 1px var(--primary);
    outline: 3px solid transparent;
    box-shadow: 0px 10px 8px -31px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"] {
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    font-size: 2rem;    
}

select{
    padding: .4rem;
    border-radius: 12px;
    border: 1px solid var(--primary);
}


/*  ------ | Botones | ------ */
input[type="submit"],
button
{
    padding: .3rem 2rem;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    transition: all .4s ease-in;
    font-weight: 800;
    box-sizing: border-box;
    background: var(--tertiary);
    color: var(--primary);
    border: 1px solid var(--primary);
}

input[type="submit"]:hover,
button:hover
{
    background-color: var(--primary);
    color: white;
}
button a{
    text-decoration: none;
    color: var(--primary);
}
button:hover a{
    color: white;
}
/* Estilos Josso , Servidor de correo */

/* Estilos formulario  */
.container__form {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.form__inputs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5em;
}
.content__form {
    display: flex;
    gap: 2.5em;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    background-color: white;
    padding: 1.5em;
    border-radius: 7px;
    box-shadow: 0px 0px 4px -45px rgba(0,0,0,0.1);
    width: 80vh;
}
.content__form__botons{
    margin: 0 auto;
}

.checkboxes {
    display: flex;
    gap: 2em;
}

.check {
    font-weight: bold;
    display: flex;
    gap: 4px;
}
/* Paginacion y buscador */
.other__pagination{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}


/* ------ | Mensajes | ------ */
div.message{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 700;
    font-size: 1.2em;
    color: white;
    border-radius: 8px;
    text-align: center;
}
strong{
    cursor: pointer;
    transition: all .2s ease  ;
}
strong:hover{
    color: rgb(223, 223, 223);
}
div.message--success{

    background: var(--tertiary);
    color: var(--primary);
    border: 1px solid var(--primary);
}
div.message--error{
    color: #f87171;
    background-color: #fee2e2;
    border: 1px solid #f87171;
}

/* ------ | Paginacion | ------*/

.pagination {
    margin-top: 1em;
    display: flex;
    width: 100%;
    justify-content: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background: var(--tertiary);
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

/* ESTILOS OTRA PAGINACION */
.other__pagination__search{
    display: flex;
    align-items: center;
    gap: 1em;
}

.other__pagination__search svg{
    width: 25px;
    height: 25px;
}

.other__pagination__search path{
    fill: black;
}
/* ------ | Tabla | ------*/

table.table__list {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    color: #000000;
}

table.table__list td,
table.table__list th {
    border-width: 2px;
    border-color: #CCCC;
    border-style: solid;
    padding: 5px; 
}

table.table__list thead {
    color: white;
    background-color:var(--alternate-background) ;
}


/* ------ | Menú | ------ */
.menu{
    background-color: var(--alternate-background);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    transition:max-width  .2s ease-out ;

}
.menu.disabled_menu{
    max-width: 0px;
}
.menu.active_menu{
    max-width: 230px;
}

.menu__options-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 48px;
    color: var(--color-info);
    margin: .75rem;
}

.menu__options-container--full{
    height: 100%;
    width: 12rem;
}

.menu__brand-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    color: var(--color-info);
    margin: .75rem;

}

.menu__brand-title{
    font-size: 25px;
}

.menu__brand-logo{
    width: 60px;
}


.menu__options-list{
    display: flex;
    gap: 18px;
    flex-direction: column;
    list-style: none;
}

.menu__option-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    color: var(--color-info);
    fill: var(--color-info);
    gap: 12px;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}


.menu__option-container:hover{
    background-color: #38a90013;
}
.menu__option-icon{
    min-width: 2rem;
    height: 2rem;
}
.menu__option-icon path{
    fill: var(--color-info);
}

.menu__option-title{
    font-size: 18px;
}

.menu__option-container--toggle-list,
.menu__option-container--toggle-list:hover{
    background-color: transparent;
    padding: 0;
}

.menu__option-container--dropdown{
    font-size: 8px;
}

.menu__option-title--dropdown-title{
    font-size: 14px;
}

.menu__options-list--dropdown{
    gap: 2px;
    padding-left: 18px;
}
.menu__dropdown-container{
    max-height: 0px;
    overflow: hidden;
    transition: max-height .2s ease-in-out;
}
.menu__dropdown-container.active__toggle{
    max-height: 250px;
}
.menu__option-container--logout{
    height: 100%;
}
li.active .menu__option-container {
    color: var(--primary);
}
.active .menu__option-container .menu__option-icon,

.active .menu__option-icon path{
    fill: var(--primary);
}
.active .menu__option-container{
    background-color: #38a90013;
}

.active .menu__option-container--dropdown,
.active .menu__option-container--toggle-list
{
    background-color: transparent;
}
.active .menu__option-title--dropdown-title{
    
    color: var(--color-info);
}
.active__menu__report .menu__option-title--dropdown-title{
    color: var(--primary);
}
.active .icon_dos_path{
    fill: var(--primary);
    
}
.icon_dos{
    height: 2rem;
    width: 2rem;
}

.rotate-animation {
    transform: rotate(180deg);
    animation: rotateSVG .2s  linear;
}
.rotate-animation-disabled{
    animation: rotateSVGDisabled .2s linear  ; 
}
li.active .icon_dos{
    transform: rotate(180deg);
}
.icon_dos path{
    stroke: white;

}
@keyframes rotateSVG {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(180deg);
    }

}
@keyframes rotateSVGDisabled {

    0% {
        transform: rotate(180deg);
    }
    
    100% {
        transform: rotate(360deg);
    }

}